
<div class="border border-3 rounded-3 p-5 mt-5">

  <h1> Real Currency Conversion </h1>
  <%= form_for @currency_conversion do |f| %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

    <div class="input-group mt-5">
      <span class="input-group-text">From</span>
      <%= currency_dropdown(f, :from) %>
      <span class="input-group-text">Amount</span>
      <%= f.number_field :actual_amount, class: 'form-control', placeholder: '999.9', required: true %>
    </div>

    <div class="input-group mt-5">
      <span class="input-group-text"> To </span>
      <%= currency_dropdown(f, :to) %>
      <% if edit_action? || update_action? %>
        <span class="input-group-text">Converted Amount</span>
        <%= f.number_field :converted_amount, class: 'form-control text-light bg-success', id: 'disabledInput' %>
      <% end %>
    </div>

    <%= f.submit 'Convert', class: 'btn btn-primary mt-5' %>
  <% end %>
<div>
